<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>341478281976-gf755f9ol003665t6qbn2vd2vhega5l6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.341478281976-gf755f9ol003665t6qbn2vd2vhega5l6</string>
	<key>API_KEY</key>
	<string>AIzaSyAFsQFm51IevrogBN3d2lIfBcDTw4biGwc</string>
	<key>GCM_SENDER_ID</key>
	<string>341478281976</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DSouza.Learning</string>
	<key>PROJECT_ID</key>
	<string>firestore-learning-app-fca36</string>
	<key>STORAGE_BUCKET</key>
	<string>firestore-learning-app-fca36.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:341478281976:ios:6f2f5627f7c6773150210d</string>
</dict>
</plist>